:host {
	background-image: var(--bg-image);
	background-size: 100%;
	background-position: center;
	background-color: transparent;

	border: none;

	width: var(--icon-size);
	height: var(--icon-size);
}
