@import "https://fonts.googleapis.com/css?family=Comfortaa|Material+Icons|Material+Icons+Round&effect=shadow-multiple";
@import "https://fonts.googleapis.com/css?family=Comfortaa&effect=shadow-multiple&display=swap";
/* Define a site-wide theme here - colors, fonts, defaults, ect. */
html {
	/* Site-wide variables */
	--icon-size: 2em;
	--chat-icon-size: 3em;

	--padding-default: 0.5em;

	--border-radius-default: 0.75em;

	--box-shadow-smallest: 0 0 0.08em 0 black;
	--box-shadow-default: 0 0 0.25em 0 black;
	--box-shadow-largest: 0 0 1em 0 black;

	--h1-font: "Comfortaa";

	--background-root: #fefefe; /* Off-White */
	--background-nav: #fdfdfd; /* Off-Off-White */
	--background-default: #f0f0f0; /* Light Grey */
	--background-higher: #ddd; /* Grey */
	--background-highest: #d0d0d0; /* Darker Grey */
}

html,
body {
	margin: 0;
}
html {
	overflow: scroll;
	padding: 0;
	height: 100%;
	background-color: var(--background-root);
}
body {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: var(--padding-default);
}

h1 {
	font-family: var(--h1-font);
}

footer {
	margin-top: var(--padding-default);
}

.error {
	color: red;
}
