:host {
	background-color: rgb(245, 245, 245);
	display: block;
	padding: var(--padding-default);
	border-radius: var(--border-radius-default);
	transition: background-color 0.1s;
	text-align: center;
}
:host(:hover),
:host(:focus) {
	background-color: rgb(222, 222, 222);
}

::slotted([slot="icon"]) {
	border-radius: 50%;
	width: var(--chat-icon-size);
	height: var(--chat-icon-size);
	box-shadow: var(--box-shadow-smallest);
}
::slotted(*) {
	vertical-align: middle;
	display: inline;
}
