:host {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: var(--padding-default);

	box-shadow: var(--box-shadow-default);

	background-color: var(--background-nav);

	z-index: 222;
}
:host > * {
	vertical-align: middle;
}
