@import "/theme.css";

#nav {
	display: none;
}
:host([data-open]) #nav {
	display: initial;
}

:host {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2147483646;
}
:host([data-open]) {
	min-height: 100%;
	padding-bottom: 1rem;
	box-shadow: 0 0 1rem -0.5rem;
	border-radius: 0 1em 1em 0;
	background-color: var(--background-nav);
}

#menu {
	margin: 1rem;
}

#list {
	padding: 0;
	margin: 0 1rem;
	list-style: none;
}

.material-icons-round {
	font-size: x-large;
}
